= simple_form_for :search, url: results_search_index_path, html: {class: 'form form-horizontal', id: 'search'} do |f|
  = f.input :breed, label: 'Breed', collection: list_dog_breeds, include_blank: false
  = f.input :age, label: 'Age', collection: AGE, include_blank: false
  = f.input :sex, label: 'Sex', collection: SEX.map { |k,v| [v, k] }, include_blank: false
  = f.input :size, label: 'Size', collection: SIZE.map { |k,v| [v, k] }, include_blank: false
  = f.input :location, label: 'Location (Zip Code)', input_html: {value: "#{current_user.zip_code if current_user}"}
  .form-actions
    = f.submit 'Search', class: 'btn btn-primary'