#dog-information
  %table.table.table-condensed.table-striped
    %tbody
      %tr
        %td.span2 Name
        %td= dog.name.humanize
      %tr
        %td Adoption Status
        %td= STATUS[dog.status]
      %tr
        %td Sex
        %td= SEX[dog.sex]
      %tr
        %td Mix
        %td= dog.mix.humanize
      %tr
        %td Breed(s)
        %td= dog.breeds.join(', ')
      %tr
        %td Age
        %td= dog.age
      %tr
        %td Size
        %td= SIZE[dog.size]
      %tr
        %td Last Updated
        %td= dog.last_update.strftime('%B %d, %Y %I:%M %P')