%table.table.table-condensed.table-striped
  %tbody
    %tr
      %td.span2 Name
      %td= @presenter.dog.name.humanize
    %tr
      %td Adoption Status
      %td= STATUS[@presenter.dog.status]
    %tr
      %td Mix
      %td= @presenter.dog.mix.humanize
    %tr
      %td Breed(s)
      %td= @presenter.dog.breeds.join(', ')
    %tr
      %td Age
      %td= @presenter.dog.age
    %tr
      %td Size
      %td= @presenter.dog.size
    %tr
      %td Last Updated
      - update_date = DateTime.parse(@presenter.dog.last_update)
      %td= update_date.strftime('%a %b %d %H:%M:%S %Z %Y')