#full-content.span12
  %br
  %blockquote
    %p.large= @presenter.dog.name
    .small= STATUS[@presenter.dog.status]
  .row.span12
    #dog-pictures.span4
      .curved-box
        .header Pictures
        .text-center
          = render partial: 'pictures', locals: {pictures: @presenter.dog.pictures}
      .curved-box
        .header Shelter Information
        = render partial: 'shelter', locals: {shelter: @presenter.shelter}
    #dog-description.span7
      .curved-box
        .header Additional Information
        = render partial: 'show_dog', locals: {dog: @presenter.dog}
      .curved-box
        .header Description
        - if @presenter.dog.description.present?
          = sanitize @presenter.dog.description.squeeze('<br>').squeeze('<br />').html_safe, tags: %w(p br)
        - else
          %p
            No information supplied
      .curved-box
        .header Resources
        - breed = @presenter.dog.breeds.first
        = link_to "Wikipedia Information on #{breed}", "http://en.wikipedia.org/wiki/#{breed}", target: '_blank'