= form_for @user, html: {class: 'form-horizontal'} do |f|
	%fieldset
		%legend= "#{controller.action_name.capitalize} User"
		
		.control-group
			= f.label :email, class: 'control-label'
			.controls
				= f.text_field :email, class: 'text_field span4'
				
		.control-group
			= f.label 'First Name', class: 'control-label'
			.controls
				= f.text_field :fname, class: 'text_field span4'
		
		.control-group
			= f.label 'Last Name', class: 'control-label'
			.controls
				= f.text_field :lname, class: 'text-field span4'
		
		.control-group
			= f.label 'Zip Code', class: 'control-label'
			.controls
				= f.text_field :zip_code, class: 'text-field span4'

		.control-group
			= f.label 'Password', class: 'control-label'
			.controls
				= f.password_field :password, class: 'text-field span4'

		.control-group
			= f.label 'Password Confirmation', class: 'control-label'
			.controls
				= f.password_field :password_confirmation, class: 'text-field span4'
				
		.form-actions
			= f.submit nil, class: 'btn btn-primary'
			= link_to 'Cancel', root_path, class: 'btn'