#left-sidebar.span3
  %div.curved-box
    .header Cookie
    = image_tag 'cookie.jpg', class: 'img-polaroid'
  %div.curved-box
    .header Tuffy
    = image_tag 'tuffy.jpg', class: 'img-polaroid'
#right-content.span9
  = render partial: 'shared/find_dog_mini_form'
  %blockquote
    %p.large About Us
    .small A little information about who we are and why we are doing this.

  %p
    Please consider adopting and saving the life of an animal that really needs your help.  They deserve a chance not just the puppies, but the older ones.  They will know, and they will show you everyday how much they know you saved them.

  %ul.nav.nav-tabs
    %li{class: "#{'active' if params[:dog] == 'cookie' || params[:dog].blank?}"}= link_to 'Cookie', about_us_path, 'data-window' => 'cookie'
    %li{class: "#{'active' if params[:dog] == 'tuffy'}"}= link_to 'Tuffy', about_us_path, 'data-window' => 'tuffy'

  %div#cookie.window
    %p
      My first dog, my constant companion.  This site is dedicated to her.  She passed away September of 2012, I had the joy of having her for 15 years and 6 months.  A mutt given away, because her chow chow mother and german shepherd father were neighbors. She choose me when I saw her at 2 weeks old, and at 4 weeks I got to take her home.  Out of all the puppies Cookie was the only one that crawled to me, so I had to pick her up.  It was love at first sight.

    %p
      She taught me how to be patient, love unconditionally, be happy, and enjoy life.  It’s amazing how much a little runt can touch your heart and give you more than you can ever possibly imagine.  When she was diagnosed with congenital heart disease, and given 3-6 months I learned how to take care of her.  6 pills every day, for over 3 years numerous injections of pain and nausea medications.  Anyone who knows me, knows that I have a ungodly fear of needles.  I got over it so I could give her shots to make her life more comfortable.  It wasn’t easy, every shot I gave her I would think “Oh man I hope I don’t stick myself with this, i’ll faint in an instant!”  My mom was surprised, “If you take care of me just 25% of how you take care of Cookie when I get sick and old, I will be happy.”  

    %p
      I think Cookie would tell me how important it was to live just another day, just another moment, just another breath.  Just how important it is to cherish the unconditional love she gave and received, no questions asked, no fine print.

    %p To my best friend, baby, companion, guardian, teacher, dog. 
  %div#tuffy.window{style: 'display:none;'}
    %p I thought I would never get another dog after Cookie.  To my surprise I had the chance to rescue him from a life of being chained up in a backyard and neglected.  A dog with a pedigree of service, mother was police and father was sheriff.  He on the other hand is a 70 lbs lap dog, who has a high pain threshold and extreme pray drive.  Tennis balls have no chance, even when thrown into a cactus.

    %p Now he has the run of the house, and all the tennis balls he can chew on.  And part 2 of my adventures with another uncommon companion begins.