.navbar.navbar-inverse
	.navbar-inner
		= link_to image_tag('dog-paw.png' , class: 'brand', width: 25), root_path
		%ul.nav
			%li.active
				= link_to '<i class="icon-home icon-white"></i> Home'.html_safe, root_path
			%li
				= link_to '<i class="icon-search icon-white"></i> Search'.html_safe, '#'
			%li
				= link_to '<i class="icon-info-sign icon-white"></i> Information'.html_safe, '#'
			%li
				= link_to '<i class="icon-leaf icon-white"></i> Help'.html_safe, '#'
			%li
				= link_to '<i class="icon-question-sign icon-white"></i> About Us'.html_safe, '#'
		%ul.nav.pull-right
			%li.divider-vertical
			%li
				= link_to '<i class="icon-star icon-white"></i> Sign Up!'.html_safe, '#'
			%li.divider-vertical
			%li
				= link_to '<i class="icon-user icon-white"></i> Sign In'.html_safe, '#'