!!!
%html 
	%head
		%title
			= content_for?(:title) ? yield(:title) : 'Dogbrigade'
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= yield(:head)
	%body
		.container
			%section.row.header
				.span12
					= image_tag 'dogbrigade-logo.png'
			%section.row
				.span12
					= render :partial => 'layouts/global_menu'
					= render :partial => 'layouts/messages'
			%section#content-body.row-fluid
				= yield
			%section#footer.row
      
